{% extends "layout.html" %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded article-img" src="{{ url_for('static', filename='profile_pics/' + post[1][0]+'.jpg') }}" >
		  <div class="media-body">
		      <a class="mr-2" href="{{ url_for('user_posts', username=post[1][0]) }}">{{ post[1][0] }}</a>
		      <small class="text-muted">{{ post[1][1] }}</small>
		    <h2><a class="article-title" href="{{ url_for('post', post_id= post[0]) }}" style="font-size:25px;">{{ post[1][2] }}</a></h2>
		    <p class="article-content">{{ post[1][3] }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}